[submodule "docker-compose"]
	path = docker-compose
	url = https://github.com/wanyutang/docker-compose.git
[submodule "docker-fun3w"]
	path = docker-fun3w
	url = https://github.com/wanyutang/docker-fun3w.git
